<!-- this is the view of just the API call data -->

<div ng-controller='NewCtrl' ng-init="testData = 'param'">test page rendered</div>
{{testData}}
<p>this is the {{testData}} {{ response }} {{ param }}</p>